# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Flutter
green_rewards/build/
green_rewards/.dart_tool/
green_rewards/.idea/
green_rewards/*.iml
